aside.bd-sidebar {
    background-color: #0a4a6f;
    flex-shrink: 0;

    .iconAside{
        width: 32px;
        height: 32px;
        padding-top: 10px;
        padding-bottom: 1px;

        p{
            font-size: 12px;
            padding: 0;
            margin: 0;
        }
    }
}

