@import 'variables';
@import 'header';
@import 'sidebar';
@import 'templatelayout';
@import 'mainproducts';

html, body {
height: 100%;
margin: 0;
background-color: $color-background;

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        flex: 1;
    }

    .fullwrapper {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.btn-purple {
    background-color: $mainBlue;
    color: white;
    transition: background-color 0.3s ease; // Smooth transition for the color change
  
    &:hover {
      background-color: $hoverBlue;
      color: white;
      // Optionally, you could also change other properties, like the color, border, etc.
    }
  
    &:active {
      background-color: $activeBlue;
      color: white;
      // This will apply when the button is being pressed
    }
  }

.btn-rounded{
    border-radius: 15px;
}